@import "../../ui-kit/styles/index";

.Auditorium{
    position: relative;
    display: flex;
    flex-direction: row;
    &-Container{
        width: 700px;
        height: 700px;
        background-color: #fff;
        border-radius: 8px;
        border-style: solid;
        border-width: 0px;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &-marginAuto{
        margin: auto;
    }
}

.Numbers{
    position: relative;
    margin-right: 10px;
    &-flexRow{
        display: flex;
        flex-direction: row;
    }
    &-Column{
        display: flex;
        position: relative;
        margin-left: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        height: 60px;
    }
    width: 60px;
}

.Important{
    border-radius: 24px;
    width: 70px;
    height: 30px;
    margin: 8px;
    background-color: $color-orange;
}

.Empty{
    width: 70px;
    height: 30px;
    margin: 8px;
    border-radius: 24px;
    background-color: #FFF;
    border: 0.3px dotted $color-third-t;
}

.No{
    width: 70px;
    height: 30px;
    margin: 8px;
    border-radius: 24px;
    background-color: $color-second;
}

.Hint{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    &-item{
        border : 1px solid #FFF;
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    &-item:hover{
        border : 1px solid #000;
        border-radius: 8px;
    }
}