.Auditorium{
    position: relative;
    &-Container{
        width: 700px;
        height: 700px;
        background-color: #fff;
        border-radius: 8px;
        border-style: solid;
        border-width: 0px;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &-marginAuto{
        margin: auto;
    }
}

.Numbers{
    position: relative;
    margin-right: 10px;
    &-flexRow{
        display: flex;
        flex-direction: row;
    }
    &-Column{
        display: flex;
        position: relative;
        margin-left: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        height: 60px;
    }
    width: 60px;
}