@import "../../ui-kit/styles/index";

.RowCols{
    border-radius: 8px;
    background-color: #FFF;
    -webkit-user-select:none;
    user-select: none;
}

.RowCol{
    @include roboto-20-Medium;
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
    width: 100%;
    height: 100%;
}
