@import "../../ui-kit/styles";

.VisiblePortal{
  visibility: visible;
}

.CollapsedPortal{
  visibility: collapse;
}

.ButtonHeight{
  position: relative;
  display: flex;
  height: 4rem;
  border: 0.5px solid grey;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  
}

.PortalPage {
  background-color: $color-portal-background-transparent;
  align-items: flex-start;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  }

.Portal {
  padding: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  pointer-events: auto;
  display: flex;
  overflow: hidden;
  &-Content{
    display: flex;
    border-radius: 0.4rem;
    width: 32rem;
    height: 50rem;
    background-color: #18181b;      
  }

  .ContentPage{
    padding: 3rem 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    &-Header{
      @include roboto-24-bold;
      color: #FFF;
      height: 5rem;
      display: inline-flex;
      -webkit-box-align: center !important;
      align-items: center !important;
      -webkit-box-pack: center !important;
      justify-content: center !important;
    }
    &-LogSignIn{
      list-style: none;
      -webkit-box-flex: 1 !important;
      flex-grow: 1 !important;
      display: flex !important;
      height: 100% !important;
      -webkit-box-align: center !important;
      align-items: center !important;
      -webkit-box-pack: start !important;
      justify-content: flex-start !important;
      flex-wrap: wrap !important;
      &-li{
        -webkit-box-flex: 0 !important;
        flex-grow: 0 !important;
        -webkit-box-align: center !important;
        align-items: center !important;
        -webkit-box-pack: center !important;
        justify-content: center !important;
        height: 100% !important;
        @include roboto-20-Medium;
        &-LogInButton{
          margin: 1px 0 0 0;
          display: block;
          height: 100%;
          width: 100%;
          color: #FFF;
          padding-left: 0rem !important;
          padding-right: 1rem !important;
          background: none;
          border-color:rgba(146, 68, 68, 0);
          border-bottom-width: 2.5px;
          border-top-width: 0;
          border-left-width: 0;
          border-right-width: 0;
          border-radius: 0;
          &:hover{
            border-bottom-width: 2.5px;
            border-color: red;
          }
        }
        &-SignInButton{
          margin: 1px 0 0 0;
          display: block;
          height: 100%;
          width: 100%;
          color: #FFF;
          padding-left: 1rem !important;
          padding-right: 1rem !important;
          background: none;
          border-color:rgba(146, 68, 68, 0);
          border-bottom-width: 2.5px;
          border-top-width: 0;
          border-left-width: 0;
          border-right-width: 0;
          border-radius: 0;
          &:hover{
            border-bottom-width: 2.5px;
            border-color: red;
          }
        }
      }
    }
  }

  .Forms{
    margin-bottom: 1rem !important;
    &-Panel{
      border: 0;
      font-size: 100%;
      font: inherit;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      background-color: #18181b !important;
      width: 100% !important;
      flex-direction: column !important;
      display: flex !important;
      &-Phonenumber{
        margin-top: 2rem !important;
        &-Text{
          color:#FFF;
          @include roboto-14-regular;
          margin-bottom: 0.5rem !important;
          display: flex !important;
          -webkit-box-align: center !important;
          align-items: center !important;
          -webkit-box-flex: 1 !important;
          flex-grow: 1 !important;
        }
        &-Input{
          position: relative !important;
          input{
            display: block;
            width: 100%;
            height: 40px;
            @include roboto-16-regular;
          }
        }
      }
    }
  }
}
  