.MainPage{
    position: relative;
    &-Col{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    &-Steps{
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        height: 100px;
        margin: 1rem;
        margin-top: -0.5rem;
    }
    &-Stepper{
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
}